// ------------------------------
// Variables
// ------------------------------

$line-height: 1.5;

// Colors
$white           : #FFFFFF;
$offwhite        : #F8F8F8;
$black           : #0D0F14;
$gray            : #B9B9B9;
$light-gray      : #E4E4E4;

$highlight       : #C39D42;

// Misc
$global-border-radius   : .5rem !default;
$global-transition      : all .3s ease-in, .2s ease-out;
$global-box-shadow      : 0 .3rem .6rem rgba($black, .15);